* {
box-sizing: border-box;
}
body {
    height: 100 vh;
    margin: 0;
   /* display: flex; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.timer{
  /* margin: 0 auto; */
    /* width: 10%; */
    /* padding: 2vw 0; */
  /* display: none; */
  text-align: center;
  /* background: rgb(87, 87, 130); */
  /* box-shadow: 15px 15px 30px gray, -15px -15px 30px darkgray; */
  /* border-radius: 20px; */
}
#hint{

  color: rgb(180, 20, 172);
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}
.timerandhint{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 270px;
  margin-top: 60px;
  margin-bottom: -80px;
  border:2px solid gray ;
  width: 900px;
  height: 45px;
  background: gray;
}
.imoji img{
  margin-bottom: 0px;
}
#countcss{
  background: rgb(217, 18, 104);
    /* box-shadow: inset 15px 15px 30px rgb(249, 2, 2),
      inset -15px -15px 30px rgb(146, 131, 44); */
    width: 9vw;
    /* height: 30px; */
    margin: 7px auto 0px 30px;
    /* border-radius: 10px; */
    font-size: 1.5vw;
    text-align: center;
    height: 5vh;
}
#time {
    background: rgb(217, 18, 104);
    /* box-shadow: inset 15px 15px 30px green,
      inset -15px -15px 30px rgb(146, 131, 44); */
    width: 9vw;
    margin: 7px auto 0px 30px;
    /* padding: 6px 0; */
    font-size: 1.5vw;
    /* border-radius: 5px; */
    height: 5vh;
  }

  .timerBtn {
    /* display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vw;
    margin: 0 1vw;
    border: none;
    font-size: 2vw;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 4px 4px 8px violet, -4px -4px 8px green; */

    display: none ;
  }
  /* .timerBtn :hover {
    border-radius: 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 4px 4px 8px gold, -4px -4px 8px greenyellow;
  } */

  /* #startStop {
    color: green;
  }

  #reset {
    color: blue;
  } */
.mineCell {
  object-fit: cover;
}
/* .mineBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container{
  margin-top: 80px;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    /* height: 60%; */
    justify-content: center;
    align-content: baseline;
    /* height: 500px; */
    width: 40%;
    min-width: 900px;
    /* line-height:0.8em; */
    background-color: CadetBlue;
    
}
.container div {
    border: 1px solid black;
    /* flex-grow: ; */
    height: 40px;
    width: 40px;
    font-size:smaller;
    flex-basis :6%;
}
.container div .mine {
    /* background-image: url('../mineweeper/rsz_image_2023-09-18_104052.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    
}


